
@keyframes scroller {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-150%);
  }
}

.NowPlayingContainer {
  background-color: #222222;
  color: #cccccc;
  width: 400px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50px 50px 50px 200px 50px;
  grid-template-rows: 50px 50px 30px;
  gap: 0 0;
  grid-template-areas:
          "AlbumArt AlbumArt TrackTitle TrackTitle TrackTitle"
          "AlbumArt AlbumArt ArtistNames ArtistNames ArtistNames"
          "ProgressTime ProgressBar ProgressBar ProgressBar DurationTime";
}

.AlbumArt {
  padding: 4px;
  grid-area: AlbumArt;
  z-index: 2;
}

.AlbumArt img {
  max-width: 100%;
  max-height: 100%;
}

.AlbumBg {
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: -1;
  z-index: 0;
  -webkit-filter: blur(8px) grayscale(0.6);
  filter: blur(8px) grayscale(0.6);
}

.AlbumBg img {
  object-fit: scale-down;
}

.TrackTitle {
  grid-area: TrackTitle;
  overflow: hidden;
  position: relative;
}

.ArtistNames {
  grid-area: ArtistNames;
  overflow: hidden;
  position: relative;
}

.ScrollText {
  position: absolute;
  height: auto;
  width: 100%;
  white-space: nowrap;
  padding-left: 5px;
}
.progress {
  background-color: #555555 !important;
}
.progress-bar {
  background-color: greenyellow !important;
}

.TrackOverflow {
  animation: scroller 40s linear 1;
}

.ProgressBar {
  margin-top: 8px;
  grid-area: ProgressBar;
  z-index: 1;
}

.DurationTime {
  grid-area: DurationTime;
  margin: auto;
  z-index: 1;
}

.ProgressTime {
  grid-area: ProgressTime;
  margin: auto;
  z-index: 1;
}